<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="constr" connectionString="Data Source=DESKTOP-740KALD\SQLEXPRESS; Initial Catalog=ArtGallery; Integrated Security=true"/>
  </connectionStrings>
  <appSettings>
    <!--<add key="SelectParents" value="SELECT * FROM Artists"/>
    <add key="SelectChilds" value="SELECT * FROM Arts"/>
    <add key="ParentTable" value="Artists"/>
    <add key="ChildTable" value="Arts"/>
    <add key="FKName" value="FK__Arts__ArtistID__534D60F1"/>
    <add key="FKColumn" value="ArtistID"/>-->
    
    <add key="SelectParents" value="SELECT * FROM Customers"/>
    <add key="SelectChilds" value="SELECT * FROM Donations"/>
    <add key="ParentTable" value="Customers"/>
    <add key="ChildTable" value="Donations"/>
    <add key="FKName" value="FK__Donations__Custo__035179CE"/>
    <add key="FKColumn" value="CustomerID"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>